* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/* CORES INVEX */
:root {
    --bg: #0b132b;
    --sidebar: #111c44;
    --card: #16213e;
    --roxo: #7c3aed;
    --text: #ffffff;
    --sub: #a0aec0;
}

body {
    background: var(--bg);
    color: var(--text);
}

/* LAYOUT */
.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: var(--sidebar);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align: center;
    color: var(--roxo);
    margin-bottom: 30px;
}

/* MENU */
.sidebar nav a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--sub);
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar nav a:hover,
.active {
    background: var(--roxo);
    color: white;
}

/* BOTÃO SAIR */
.logout {
    text-align: center;
    padding: 10px;
    background: #e63946;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

/* TOPO */
.top {
    margin-bottom: 30px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: var(--card);
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card span {
    color: var(--sub);
}

.card h2 {
    font-size: 32px;
    color: var(--roxo);
}