* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

:root {
    --bg: #0f172a;
    --sidebar: #111827;
    --card: #1f2937;
    --text: #fff;
    --sub: #9ca3af;
    --primary: #7c3aed;
}

/* LIGHT MODE */
.light {
    --bg: #f9fafb;
    --sidebar: #ffffff;
    --card: #ffffff;
    --text: #111827;
    --sub: #6b7280;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: .3s;
}

.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: .3s;
}

.logo {
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: var(--sub);
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
}

.sidebar a:hover,
.active {
    background: var(--primary);
    color: #fff;
}

.bottom button,
.bottom a {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.bottom button {
    background: var(--primary);
    color: white;
}

.bottom a {
    background: #ef4444;
    color: white;
    text-align: center;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
    transition: .3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h4 {
    color: var(--sub);
}

.card p {
    font-size: 28px;
    color: var(--primary);
}

/* CHART */
.chart-box {
    margin-top: 30px;
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
}

canvas {
    margin-top: 20px;
}