/* Remove a margem padrão do navegador e define a fonte do site */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-login {     /* Container principal da tela de login */
    width: 100vw; /* largura total da tela */
    height: 100vh; /* altura total da tela */
    display: flex; /* ativa o flexbox */
    background: #0b0f1a; /* cor de fundo preto azulado */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
}



.login-esquerda{  /* LADO ESQUERDO DA TELA */
    width: 50vw; /* largura maior que a tela  */
    height: 100vh; /* altura total da tela */
    display: flex; /* usa flexbox */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
}

/* Estilo do título dentro da parte esquerda */
.login-esquerda > h1{
    color: #00e0ff; /* azul neon */
    font-size: 32px; /* tamanho do texto */
    text-align: center; /* centraliza o texto */
}

.login-esquerda img{ /* IMAGEM DA TELA */
    width: 60%; /* imagem ocupa 60% da largura do container */
}

.login-direita{  /* LADO DIREITO DA TELA */
    width: 50vw; /* ocupa metade da largura da tela */
    height: 100vh; /* altura total da tela */
    display: flex; /* usa flexbox */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    flex-direction: column;
}

.card-login{    /* CARD DE LOGIN */
    width: 60%; /* largura do card */
    display: flex; /* usa flexbox */
    justify-content: center; /* centraliza conteúdo horizontalmente */
    align-items: center; /* centraliza conteúdo verticalmente */
    flex-direction: column; /* organiza os elementos em coluna */
    padding: 30px 35px; /* espaço interno do card */
    background-color:#121a2b; /* fundo azul escuro */
    border-radius: 20px; /* bordas arredondadas */
    box-shadow: 0px 10px 40px #00000080; /* sombra do card */
}


.card-login > h1 { /* Estilo do título dentro do card */
    color:  #00e0ff;  /* azul neon */
    font-weight: 800; /* texto mais grosso */
    margin: 0; /* remove margem padrão */
}

.textfield{ /* CAMPOS DE INPUT */
    width: 100%; /* ocupa toda largura do card */
    display: flex; /* usa flexbox */
    flex-direction: column; /* label em cima do input */
    margin: 10px 0; /* espaçamento vertical */
}


.textfield > label{ /* Estilo do label (texto acima do input) */
    color:#00e0ff; /* azul neon */
    margin-bottom: 8px; /* espaço entre label e input */
}

.textfield > input { /* Estilo do campo de entrada */
    width: 100%; /* ocupa toda largura */
    border: none; /* remove borda padrão */
    border-radius: 10px; /* bordas arredondadas */
    padding: 15px; /* espaço interno */
    background: #1c2740; /* fundo azul escuro */
    color: #ffffff; /* texto branco */
    font-size: 12pt; /* tamanho da fonte */
    box-shadow: 0px 5px 20px #00000050; /* sombra no input */
    outline: none; /* remove borda ao clicar */
    box-sizing: border-box; /* padding não aumenta largura */
}

.textfield > input::placeholder{ /* Cor do texto de placeholder (dica dentro do input) */
    color: #9bb3c9;
}

.btn-login{ /* BOTÃO DE LOGIN */
    width: 100%; /* botão ocupa toda largura */
    padding: 16px 0px; /* espaço interno vertical */
    margin-top: 20px; /* espaço acima do botão */
    border: none; /* remove borda */
    border-radius: 8px; /* bordas arredondadas */
    text-transform: uppercase; /* deixa o texto em maiúsculo */
    font-weight: 800; /* texto mais grosso */
    letter-spacing: 3px; /* espaço entre letras */
    color: #02121f; /* cor do texto */
    background: linear-gradient(45deg, #00cb6d, #00889a); /* gradiente verde/azul */
    cursor: pointer; /* cursor de mão ao passar */
    box-shadow: 0px 10px 30px -10px #009e54; /* sombra do botão */
    transition: 0.3s; /* animação suave */
}

.btn-login:hover{ /* Efeito quando passa o mouse no botão */
    transform: scale(1.05); /* aumenta o botão levemente */
}

.topo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color:#121a2b;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid #2a2e35;
    z-index: 1000;
    border-radius: 10px;
    gap: 20px;
}

.topo > h2{
    font-size: 30px;
    color: #00e0ff;
}

.link-registro {
  color:  #009e54;
  font-weight: bold;
  padding: 5px;
}

.link-registro:hover {
  text-decoration: underline;
}
p{
    color: #00cb6d;
}