/* =====================================================
SIDEBAR
===================================================== */

.sidebar{

    width: 220px;
    background: #001A36;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-right: 1px solid rgba(0,183,195,0.15);

}

/* =====================================================
MENU
===================================================== */

.sidebar nav a{

    position: relative;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px 16px;

    margin-bottom: 10px;

    text-decoration: none;

    color: #B8C7D9;

    border-radius: 12px;

    transition: all .3s ease;

    overflow: hidden;

}

/* Remove destaque fixo */
.active{

    background: transparent !important;
    color: #B8C7D9 !important;

}

/* Barra lateral animada */

.sidebar nav a::before{

    content: '';

    position: absolute;

    left: 0;
    top: 50%;

    transform: translateY(-50%);

    width: 0;

    height: 70%;

    background: #00F5D4;

    border-radius: 0 5px 5px 0;

    transition: .3s;

}

/* Hover */

.sidebar nav a:hover{

    background: rgba(0,245,212,0.10);

    color: #00F5D4;

    transform: translateX(5px);

}

/* Barra aparece */

.sidebar nav a:hover::before{

    width: 4px;

}

/* Ícones */

.sidebar nav a i{

    font-size: 18px;

    transition: .3s;

}

/* Ícone muda junto */

.sidebar nav a:hover i{

    color: #00F5D4;

}